.nextflow*
work/
data/
queue/*
results/
.DS_Store
testing/
testing*
*.pyc
scratch/
rtq0.config
temp/
assets/taxonomy/*
assets/short-read/samplesheets/*
assets/long-read/samplesheets/*
!.gitkeep
!assets/short-read/samplesheets/samplesheet_merged.csv
!assets/short-read/samplesheets/samplesheet_paired.csv
!assets/long-read/samplesheets/samplesheet.csv