/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Meta-ONT Nextflow custom config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    
    // Input and output options
    input                      = 'assets/long-read/samplesheets/New-Mexico/2025-03_ATL-gene/samplesheet_ATL-gene_all.csv'
    outdir                     = 'results/test/long-read'

    //DO NOT CHANGE
    workflow = "long-read"

    //replace value with [true] to assemble reads with meta spades or meta flye
    metagenomic_sample                = true

    //enable memory saver mode for local runtime environments
    memory_saver = false


    // Designate which processes the workflow will execute
    skip_subsample                    = false
    skip_porechop                     = true   //should always be skipped unless reads have not been trimmed by dorado
    skip_cutadapt                     = true

    // BBmap subsampling params
    num_subsamples                    = 5000

    // porechop trimming is skipped by default - software is no longer maintained - recommend using adapter trimming function built into dorado

    // set read quality minimum threshold
    chopper_q                  = 16
    chopper_min_len            = 2000
    chopper_max_len            = 2147483647

    // set cutadapt params
    auto_trimming = true
    cutadapt_adapter_fasta = "${projectDir}/assets/long-read/adapters/ATL-gene-adapters_cutadapt.fasta"

    // minimap2 params
    minimap2_meta = 'all-genomes'
    minimap2_genome_reference = '/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/EMEL/Projects/Long_Read_Analysis_RUSHER/data/minimap2/index/long-read/ATL_gene.mmi' // the reference file can be a minimap2 index file ending in '.mmi' or it can be a fasta file
    split_prefix = false    //set to true if your ref index or fasta is very large (>40G)
    minimap2_mismatch_penalty = 4

    // alignment classification module params
    seqid2taxid_map="/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/EMEL/Projects/Long_Read_Analysis_RUSHER/data/taxonomy/seqid2taxid_no-strain.map"
    filter_alignment_by_id = false
    my_tax_ids = "${projectDir}/assets/tax_ids_acanth-verm-naegleria.txt"
    include_children = true
    ncbi_taxonomy_nodes = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/EMEL/Projects/Long_Read_Analysis_RUSHER/data/taxonomy/nodes.dmp"
    ncbi_taxonomy_names = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/EMEL/Projects/Long_Read_Analysis_RUSHER/data/taxonomy/names.dmp"
    local_nodes_db = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/EMEL/Reference_Databases/taxonomy/nodes_sqlite3.db"
    mapping_quality = 0
    non_standard_reference = false

    // BLAST DB parameters
    use_blast_standard = true  // insert boolean value to determine if standard blast nucleotide db is used - if false the path specified in "blast_db" will be used
    blast_standard_db = '/scicomp/reference/ncbi-blast-databases/nt'
    blast_db = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/EMEL/Projects/Long_Read_Analysis_RUSHER/data/blast/arch-bact-fung-hum-amoeba_refseq/arch-bact-fung-hum-amoeba_refseq"

    //BLAST alignment params
    blast_evalue = "1e-10"
    blast_perc_identity = "95"
    blast_target_seqs = "1"

}

/////////////////////////////////////////////////////////////
// formats quality score parameter in chopper
params {
    chopper_args = "--quality ${params.chopper_q} --minlength ${params.chopper_min_len} --maxlength ${params.chopper_max_len}"
}

/////////////////////////////////////////////////////////////
// set spades to process metagenomic samples based on params.metagenomic_sample

if (params.split_prefix) {

    params {

        minimap2_args = "-2 -B ${params.minimap2_mismatch_penalty} --secondary=no --split-prefix=temp"

    }

} else {

    params {

        minimap2_args = "-2 -B ${params.minimap2_mismatch_penalty} --secondary=yes"

    }    

}

// Load modules.config for DSL2 module specific options
includeConfig 'modules_long_read.config'
