/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Meta-short Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

params {

    // Input and output options
    input                      = "assets/short-read/samplesheets/test-paired-samplesheet.csv"
    outdir                     = 'results/test/paired-end'

    workflow = "short-read"

    //replace value with [true] to assemble reads with meta spades or meta flye
    meta_sample                = true

    //enable memory saver mode for local runtime environments
    memory_saver = false

    //define your workflow here by skipping or not skipping certain processes
    skip_subsample                 = true
    skip_merging                   = true
    skip_trimming                  = false
    skip_blast_unmapped            = true

    // subsampling parameters
    num_subsamples             = 10000

    // select trimming tool
    trim_tool                  = "trimmomatic" // trim tool can be set to 'trimmomatic' or 'fastp'
    adapt_ref                  = "${projectDir}/assets/short-read/sequencing-adapters.fasta"

    // trimmomatic parameters
    trimmomatic_params         = "ILLUMINACLIP:${params.adapt_ref}:2:30:10 SLIDINGWINDOW:4:20 MINLEN:50"

    // seqtk length trimming parameters
    // seqtk_min_length           = 150

    // fastp QC parameters
    fastp_params               = ""
    adapter_auto_detect        = false

    // minimap2 params
    minimap2_meta = 'all-genomes'
    // the reference file can be a minimap2 index file ending in '.mmi' or it can be a fasta file
    minimap2_genome_reference = '/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/EMEL/Projects/Long_Read_Analysis_RUSHER/data/minimap2/index/short-read/ZYMO_plus-cyrpt-sacch-refseq.mmi'
    minimap2_mismatch_penalty = 8

    // alignment classification module params
    seqid2taxid_map = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/EMEL/Projects/Long_Read_Analysis_RUSHER/data/taxonomy/seqid2taxid_no-strain.map"
    filter_alignment_by_id = false
    my_tax_ids = "${projectDir}/assets/tax_ids_acanth-verm-naegleria.txt"
    include_children = false
    ncbi_taxonomy_nodes = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/EMEL/Projects/Long_Read_Analysis_RUSHER/data/taxonomy/nodes.dmp"
    ncbi_taxonomy_names = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/EMEL/Projects/Long_Read_Analysis_RUSHER/data/taxonomy/names.dmp"
    local_nodes_db = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/EMEL/Reference_Databases/taxonomy/nodes_sqlite3.db"
    mapping_quality = 0
    non_standard_reference = false

    // BLAST DB parameters
    use_blast_standard = true  // insert boolean value to determine if standard blast nucleotide db is used - if false the path specified in "blast_db" will be used
    blast_standard_db = '/scicomp/reference/ncbi-blast-databases/nt'
    blast_db = "/scicomp/groups-pure/OID/NCEZID/DFWED/WDPB/EMEL/Projects/Long_Read_Analysis_RUSHER/data/blast/arch-bact-fung-hum-amoeba_refseq/arch-bact-fung-hum-amoeba_refseq"

    //BLAST alignment params
    blast_evalue = "1e-10"
    blast_perc_identity = "99"
    blast_target_seqs = "1"

}

/////////////////////////////////////////////////////////////

params {

    minimap2_args = "-k21 -w11 --sr --frag=yes -A2 -B${params.minimap2_mismatch_penalty} -O12,32 -E2,1 -r100 -p.5 -N20 -f1000,5000 -n2 -m25 -s40 -g100 -2K50m --heap-sort=yes --split-prefix=tmp -t 16 --secondary-seq"

}

if (params.use_blast_standard) {

    params {

        blast_db = "${params.blast_standard_db}"
    }

}

// Load modules.config for DSL2 module specific options
includeConfig 'modules_short_read.config'
